<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title th:text="#{rezervacija.korisnik}"></title>
    <link rel="stylesheet" type="text/css" href="css/Tabele.css">
</head>
<body>
    <ul th:if="${session.prijavljenKorisnik != null}">
        <li><a id="odjava" href="korisnici/logout" th:text="#{treninzi.odjava}"></a></li>
        <li><a id="mojProfil" href="korisnici/mojProfil" th:text="#{treninzi.mojProfil}"></a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik == null}">
        <li><a id="odjava" href="korisnici/registracija" th:text="#{index.registracija}"></a></li>
    </ul>
    <form method="post" action="korisnici/edit" th:if="${session.prijavljenKorisnik != null and session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).ADMINISTRATOR)}">
        <input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
        <table class="content-table">
            <caption id="registracija" th:text="#{rezervacija.korisnik}"></caption>
            <tr><th th:text="#{korisnik.korisnickoIme}"></th><td th:text="${korisnik.korisnickoIme}"></td></tr>
            <tr><th th:text="#{korisnik.email}"></th><td th:text="${korisnik.email}"></td></tr>
            <tr><th th:text="#{korisnik.ime}"></th><td th:text="${korisnik.ime}"></td></tr>
            <tr><th th:text="#{korisnik.prezime}"></th><td th:text="${korisnik.prezime}"></td></tr>
            <tr><th th:text="#{korisnik.datumRodjenja}"></th><td th:text="${korisnik.datumRodjenja}"></td></tr>
            <tr><th th:text="#{korisnik.adresa}"></th><td th:text="${korisnik.adresa}"></td></tr>
            <tr><th th:text="#{korisnik.telefon}"></th><td th:text="${korisnik.telefon}"></td></tr>
            <tr>
                <th th:text="#{korisnik.uloga}"></th>
                <td>
                    <select name="uloga">
                        <option th:each="uloga : ${T(com.example.Teretana.Model.Uloga).values()}" th:value="${uloga}" th:text="${uloga}" th:selected="${#strings.equals(korisnik.uloga, uloga)}"></option>
                    </select>
                </td>
            </tr>
            <tr><th th:text="#{korisnik.datumRegistracije}"></th><td th:text="${korisnik.datumIVremeRegistracije}"></td></tr>
            <tr th:if="${korisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).CLAN)}">
                <th th:text="#{korisnik.blokiran}"></th>
                <td>
                    <input type="checkbox" name="blokiran" th:checked="${korisnik.blokiran}">
                </td>
            </tr>
            <tr><td colspan="2"><input id="dugme" type="submit" th:value="#{trening.izmeni}" /></tr>
        </table>
    </form>
    <table class="content-table">
        <caption id="registracija" th:text="#{termini.zakazani}"></caption>
        <tr>
            <th colspan="2" th:text="#{termini.datumZakazivanja}"></th>
        </tr>
        <tr th:each="rezervacija, status: ${rezervacije}">
            <td colspan="2"><a class="nazivTreninga" th:href="|korisnickaKorpa/details?id=${rezervacija.id}|" th:text="${rezervacija.datumRezervacije}"></a></td>
        </tr>
        <tr>
            <th th:text="#{termini.ukupnaCena}"></th><td th:text="${ukupnaCenaRezervacija}"></td>
        </tr>
    </table>
    <ul>
        <li><a class="a-link" href="korisnici" th:if="${session.prijavljenKorisnik != null}" th:text="#{treninzi.povratak}"></a></li>
    </ul>
</body>
</html>