<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title th:text="#{treninzi.mojaKorpa}"></title>
    <link rel="stylesheet" type="text/css" href="css/Tabele.css">
</head>
<body>
    <ul th:if="${session.prijavljenKorisnik != null}">
        <li><a id="odjava" href="korisnici/logout" th:text="#{treninzi.odjava}"></a></li>
        <li><a id="mojProfil" href="korisnici/mojProfil" th:text="#{treninzi.mojProfil}"></a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik == null}">
        <li><a id="odjava" href="korisnici/registracija" th:text="#{index.registracija}"></a></li>
    </ul>
    <table class="content-table">
        <caption id="registracija" th:text="#{termini.korpa}"></caption>
        <tr>
            <th th:text="#{rezervacija.nazivTreninga}"></th>
            <th th:text="#{treninzi.treneri}"></th>
            <th th:text="#{treninzi.tip}"></th>
            <th th:text="#{termini.datumIVreme}"></th>
            <th th:text="#{treninzi.cena}"></th>
            <th colspan="2" th:text="#{rezervacija.akcija}"></th>
        </tr>
        <tr>
            <td colspan="7">
                <p style="white-space: pre; color: red" th:text="${greska}"></p>
            </td>
        </tr>
        <tr th:each="termin, status: ${session.izabraniTerminiZaKorpu}">
            <td th:text="${termin.trening.naziv}"></td>
            <td th:text="${termin.trening.treneri}"></td>
            <td th:text="${termin.trening.tipTreninga}"></td>
            <td th:text="${termin.datumOdrzavanja.minusHours(1)}"></td>
            <td th:text="${termin.trening.cena}"></td>
            <td>
                <form method="post" action="korisnickaKorpa/izbaci">
                    <input type="hidden" name="id" th:value="${termin.id}"/>
                    <input type="submit" th:value="#{termin.izbrisi}" />
                </form>
            </td>
        </tr>
        <tr>
            <th th:text="#{termini.ukupnaCena}">
                <td th:text="${ukupnaCena}"></td>
            </th>
        </tr>
        <tr th:if="${!specijalanDatum && imaKarticu}">
            <th th:text="#{kartica.noviBodovi}">
                <td th:text="${brojNovihBodova}"></td>
            </th>
        </tr>
        <tr th:if="${!specijalanDatum && imaKarticu}">
            <th th:text="#{kartica.iskoristiBodove}">
                <td>
                    <form method="post" action="korisnickaKorpa/primeniBodove">
                        <input type="number" min="0" max="5" name="brojBodova"/>
                        <input type="submit" th:value="#{kartica.primeniBodove}"/>
                    </form>
                </td>
            </th>
        </tr>
        <tr th:if="${!specijalanDatum && imaKarticu}">
            <th th:text="#{kartica.novaCena}">
            <td th:text="${cenaSaPopustom}"></td>
            </th>
        </tr>
        <tr>
            <td colspan="6">
                <form method="post" action="korisnickaKorpa/zakazi">
                    <input type="hidden" th:value="${brojIskoriscenihBodova}" name="brojBodova">
                    <input type="submit" th:value="#{rezervacija.rezervisi}" />
                </form>
            </td>
        </tr>
    </table>
    <ul>
        <li><a class="a-link" href="treninzi" th:if="${session.prijavljenKorisnik != null}" th:text="#{treninzi.povratak}"></a></li>
    </ul>
</body>
</html>