<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/Tabele.css">
    <title th:text="#{kartica.naslov}"></title>
</head>
<body>
    <ul th:if="${session.prijavljenKorisnik != null}">
        <li><a id="odjava" href="korisnici/logout" th:text="#{treninzi.odjava}"></a></li>
        <li><a id="mojProfil" href="korisnici/mojProfil" th:text="#{treninzi.mojProfil}"></a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik != null && session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).CLAN)}">
        <li><a id="mojaKorpaLink"  href="korisnickaKorpa/pregled" th:text="#{treninzi.mojaKorpa}"></a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik == null}">
        <li><a id="odjava" href="korisnici/registracija" th:text="#{index.registracija}"></a></li>
    </ul>
    <table class="content-table" th:if="${session.prijavljenKorisnik != null && session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).ADMINISTRATOR)}">
        <caption id="registracija" th:text="#{kartica.naslov}"></caption>
        <tr>
            <th th:text="#{rezervacija.korisnik}"></th>
            <th th:text="#{komentari.datum}"></th>
            <th colspan="2" th:text="#{rezervacija.akcija}"></th>
        </tr>
        <tr th:each="zahtev, status: ${zahtevi}">
            <td th:text="${zahtev.korisnik.korisnickoIme}"></td>
            <td th:text="${zahtev.podnosenjeZahteva}"></td>
            <td>
                <form method="post" action="clanskaKartica/odbijZahtev">
                    <input type="hidden" name="idZahteva" th:value="${zahtev.id}"/>
                    <input type="submit" th:value="#{termin.izbrisi}" />
                </form>
            </td>
            <td>
                <form method="post" action="clanskaKartica/odobri">
                    <input type="hidden" name="idZahteva" th:value="${zahtev.id}"/>
                    <input type="submit" th:value="#{kartica.odobri}" />
                </form>
            </td>
        </tr>
        <tr><td colspan="3"><p style="white-space: pre; color: red" th:text="${poruka}"></p></td></tr>
    </table>
    <ul>
        <li><a class="a-link" href="treninzi" th:if="${session.prijavljenKorisnik != null}" th:text="#{treninzi.povratak}"></a></li>
    </ul>
</body>
</html>