<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Sale</title>
    <link rel="stylesheet" type="text/css" href="css/Tabele.css">
</head>
<body>
    <ul th:if="${session.prijavljenKorisnik != null}">
        <li><a id="odjava" href="korisnici/logout">Odjavi se</a></li>
        <li><a id="mojProfil" href="korisnici/mojProfil">Moj profil</a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik == null}">
        <li><a id="odjava" href="korisnici/registracija">Registruj se</a></li>
    </ul>
    <form method="get" >
        <table class="content-table">
            <caption id="registracija">Sale</caption>
            <tr>
                <th colspan="10">Pretraga i sortiranje</th>
            </tr>
            <tr>
                <th>Oznaka</th>
                <th>Sortiranje</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th><input type="search" th:value="${param.oznaka}?: null" name="oznaka"></th>
                <th id="sortiranje">
                    Rastuce:<input type="radio" value="1" name="rastuce"/><br/>
                    Opadajuce:<input type="radio" value="0" name="rastuce"/>
                </th>
                <th></th>
                <th><input id="pretrazi" type="submit" value="Pretraži"/></th>
            </tr>
        </table>
    </form>
    <table class="content-table">
        <tr>
            <th>Oznaka</th>
            <th>Kapacitet</th>
        </tr>
        <tr th:each="sala, status: ${sale}">
            <td><a class="nazivTreninga" th:href="|sale/details?oznaka=${sala.oznaka}|" th:text="${sala.oznaka}"></a></td>
            <td th:text="${sala.kapacitet}"></td>
        </tr>
    </table>
    <ul>
        <li><a class="a-link" href="treninzi">Povratak</a></li>
    </ul>
</body>
</html>