<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title th:text="#{datum.naslov}"></title>
    <link rel="stylesheet" type="text/css" href="css/Tabele.css">
</head>
<body>
    <ul th:if="${session.prijavljenKorisnik != null}">
        <li><a id="odjava" href="korisnici/logout" th:text="#{treninzi.odjava}"></a></li>
        <li><a id="mojProfil" href="korisnici/mojProfil" th:text="#{treninzi.mojProfil}"></a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik == null}">
        <li><a id="odjava" href="korisnici/registracija" th:text="#{index.registracija}"></a></li>
    </ul>
    <form method="post" action="specijalanDatum/dodaj" th:if="${session.prijavljenKorisnik != null and session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).ADMINISTRATOR)}">
        <table class="content-table">
            <caption id="registracija" th:text="#{datum.naslov}"></caption>
            <tr><th th:text="#{komentari.datum}"></th><td><input type="date" th:value="${datum}" value="" name="datum" required/></td></tr>
            <tr><th th:text="#{datum.popust}"><td><input type="number" th:value="${popust}" value="" min="1" name="popust" required/></td></th></tr>
            <tr><td colspan="2"><p style="white-space: pre; color: red" th:text="${greska}"></p></td></tr>
            <tr><td colspan="2"><input id="dugme" type="submit" th:value="#{treninzi.dodaj}" /></tr>
        </table>
    </form>
    <ul>
        <li><a class="a-link" href="sale" th:if="${session.prijavljenKorisnik != null}" th:text="#{treninzi.povratak}"></a></li>
    </ul>
</body>
</html>