<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Trening</title>
    <link rel="stylesheet" type="text/css" href="css/Tabele.css">
</head>
<body>
    <ul th:if="${session.prijavljenKorisnik != null}">
        <li><a id="odjava" href="korisnici/logout">Odjavi se</a></li>
        <li><a id="mojProfil" href="korisnici/mojProfil">Moj profil</a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik != null && session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).CLAN)}">
        <li><a id="mojaKorpaLink"  href="korisnickaKorpa/pregled">Moja korpa</a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik == null}">
        <li><a id="odjava" href="korisnici/registracija">Registruj se</a></li>
    </ul>
    <form method="post" enctype="multipart/form-data" action="treninzi/edit" th:if="${session.prijavljenKorisnik != null and session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).ADMINISTRATOR)}">
        <input type="hidden" name="id" th:value="${trening.id}"/>
        <table class="content-table">
            <caption id="registracija">Trening</caption>
            <tr><th>Naziv:</th><td><input type="text" th:value="${trening.naziv}" name="naziv"/></td></tr>
            <tr><th>Treneri:</th><td><input type="text" th:value="${trening.treneri}" name="treneri"/></td></tr>
            <tr>
                <th>Tip:</th>
                <td>
                    <th:block th:each="itTip: ${tipovi}">
                        <input type="checkbox" name="tipId" th:value="${itTip.id}" th:checked="${#lists.contains(trening.tipTreninga, itTip)}"/><span th:text="${itTip.ime}"></span><br>
                    </th:block>
                </td>
            </tr>
            <tr><th>Kratak opis:</th><td><input type="text" th:value="${trening.kratakOpis}" name="kratakOpis"/></td></tr>
            <tr><th>Slika:</th><td><img id="slikaTreninga" th:src="${trening.urlSlika}"></td></tr>
            <tr><th>Upload sliku:</th><td><input type="file" name="slikaFile"></td></tr>
            <tr><th>Cena:</th><td><input type="number" th:value="${trening.cena}" name="cena"/></td></tr>
            <tr>
                <th>Vrsta:</th>
                <td>
                    <select name="vrsta">
                        <option th:each="vrsta : ${T(com.example.Teretana.Model.VrstaTreninga).values()}" th:value="${vrsta}" th:text="${vrsta}" th:selected="${#strings.equals(trening.vrstaTreninga, vrsta)}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Nivo:</th>
                <td>
                    <select name="nivo">
                        <option th:each="nivo : ${T(com.example.Teretana.Model.NivoTreninga).values()}" th:value="${nivo}" th:text="${nivo}" th:selected="${#strings.equals(trening.nivoTreninga, nivo)}"></option>
                    </select>
                </td>
            </tr>
            <tr><th>Trajanje:</th><td><input type="number" th:value="${trening.trajanje}" name="trajanje"/></td></tr>
            <tr><th>Ocena:</th><td><input type="number"  th:value="${trening.ocena}" name="ocena"/></td></tr>
            <tr><td colspan="2"><p style="white-space: pre; color: red" th:text="${greska}"></p></td></tr>
            <tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
        </table>
    </form>
    <table class="content-table" th:if="${session.prijavljenKorisnik != null and session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).CLAN)}">
        <caption id="registracija">Trening</caption>
        <tr><th>Naziv:</th><td th:text="${trening.naziv}"></td></tr>
        <tr><th>Treneri:</th><td th:text="${trening.treneri}"></td></tr>
        <tr>
            <th>Tip:</th>
            <td th:text="${trening.tipTreninga}"></td>
        </tr>
        <tr><th>Kratak opis:</th><td th:text="${trening.kratakOpis}"></td></tr>
        <tr><th>Slika:</th><td><img id="slikaTreninga" th:src="${trening.urlSlika}"></td></tr>
        <tr><th>Cena:</th><td th:text="${trening.cena}"></td></tr>
        <tr>
            <th>Vrsta:</th>
            <td th:text="${trening.vrstaTreninga}"></td>
        </tr>
        <tr>
            <th>Nivo:</th>
            <td th:text="${trening.nivoTreninga}"></td>
        </tr>
        <tr><th>Trajanje:</th><td th:text="${trening.trajanje}"></td></tr>
        <tr><th>Ocena:</th><td th:text="${trening.ocena}"></td></tr>
        <tr>
            <td colspan="2">
                <form method="post" action="listaZelja/dodaj">
                    <input type="hidden" name="idTreninga" th:value="${trening.id}"/>
                    <input type="submit" value="Dodaj trening u listu zelja" />
                </form>
            </td>
        </tr>
        <tr><td colspan="2"><p style="white-space: pre; color: red" th:text="${greska}"></p></td></tr>
    </table>
    <table class="content-table">
        <caption id="registracija">Termini</caption>
        <tr>
            <th>Datum i vreme</th>
            <th>Sala</th>
            <th>Izaberi</th>
        </tr>
        <tr th:each="termin, status: ${termini}">
            <td th:text="${termin.datumOdrzavanja.minusHours(1)}"></td>
            <td th:text="${termin.sala.oznaka}"></td>
            <td th:if="${session.prijavljenKorisnik != null and session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).CLAN)}">
                <form method="post" action="termini/korpa">
                    <input type="hidden" name="idTermina" th:value="${termin.id}"/>
                    <input type="hidden" name="idTreninga" th:value="${trening.id}"/>
                    <input type="submit" value="Dodaj u korpu" />
                </form>
            </td>
        </tr>
    </table>
    <ul>
        <li><a class="a-link" href="treninzi">Povratak</a></li>
    </ul>
</body>
</html>