<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Pregled treninga</title>
    <link rel="stylesheet" type="text/css" href="css/Tabele.css">
</head>
<body>
    <form method="get">
        <table class="content-table">
            <caption id="registracija">Treninzi</caption>
            <tr>
                <th colspan="10">Pretraga i sortiranje</th>
            </tr>
            <tr>
                <th>Naziv</th>
                <th>Treneri</th>
                <th>Tip</th>
                <th>Cena</th>
                <th>Vrsta</th>
                <th>Nivo</th>
                <th>Ocena</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th><input type="search" value="" name="naziv"></th>
                <th><input type="search" value="" name="treneri"></th>
                <th>
                    <select id="tipSelect" name="tip">
                        <option value="0">Odaberi</option>
                        <option th:each="tip : ${tipovi}" th:value="${tip.id}" th:text="${tip.ime} + ' - ' + ${tip.opis}"></option>
                    </select>
                </th>
                <th>
                    Od:<input type="number" min="0" value="0" name="cenaOd"/><br/>
                    Do:<input type="number" min="0" value="10000" name="cenaDo"/>
                </th>
                <th>
                    <select name="vrsta">
                        <option value="0">Odaberi</option>
                        <option th:each="vrsta : ${T(com.example.Teretana.Model.VrstaTreninga).values()}" th:value="${vrsta}" th:text="${vrsta}"></option>
                    </select>
                </th>
                <th>
                    <select name="nivo">
                        <option value="0">Odaberi</option>
                        <option th:each="nivo : ${T(com.example.Teretana.Model.NivoTreninga).values()}" th:value="${nivo}" th:text="${nivo}"></option>
                    </select>
                </th>
                <th id="sortiranje">
                    Rastuce:<input type="checkbox" name="rastuce"/><br/>
                    Opadajuce:<input type="checkbox" name="opadajuce"/>
                </th>
                <th></th>
                <th></th>
                <th><input id="pretrazi" type="submit" value="Pretraži"/></th>
            </tr>
        </table>
    </form>
    <table class="content-table">
        <tr>
            <th>Naziv</th>
            <th>Treneri</th>
            <th>Opis</th>
            <th>Slika</th>
            <th>Tip</th>
            <th>Cena</th>
            <th>Vrsta</th>
            <th>Nivo</th>
            <th>Trajanje</th>
            <th>Ocena</th>
        </tr>
        <tr th:each="trening, status: ${treninzi}">
            <td><a id="nazivTreninga" th:href="|treninzi/details?id=${trening.id}|" th:text="${trening.naziv}"></a></td>
            <td th:text="${trening.treneri}"></td>
            <td th:text="${trening.kratakOpis}"></td>
            <td><img id="slikaTreninga" th:src="${trening.urlSlika}"></td>
            <td th:text="${trening.tipTreninga}"></td>
            <td th:text="${trening.cena}"></td>
            <td th:text="${trening.vrstaTreninga}"></td>
            <td th:text="${trening.nivoTreninga}"></td>
            <td th:text="${trening.trajanje}"></td>
            <td th:text="${trening.ocena}"></td>
        </tr>
    </table>

</body>
</html>