<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title th:text="#{trening.naslov}"></title>
    <link rel="stylesheet" type="text/css" href="css/Tabele.css">
</head>
<body>
    <ul th:if="${session.prijavljenKorisnik != null}">
        <li><a id="odjava" href="korisnici/logout" th:text="#{treninzi.odjava}"></a></li>
        <li><a id="mojProfil" href="korisnici/mojProfil" th:text="#{treninzi.mojProfil}"></a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik != null && session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).CLAN)}">
        <li><a id="mojaKorpaLink"  href="korisnickaKorpa/pregled" th:text="#{treninzi.mojaKorpa}"></a></li>
    </ul>
    <ul th:if="${session.prijavljenKorisnik == null}">
        <li><a id="odjava" href="korisnici/registracija" th:text="#{index.registracija}"></a></li>
    </ul>
    <form method="post" enctype="multipart/form-data" action="treninzi/edit" th:if="${session.prijavljenKorisnik != null and session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).ADMINISTRATOR)}">
        <input type="hidden" name="id" th:value="${trening.id}"/>
        <table class="content-table">
            <caption id="registracija" th:text="#{trening.naslov}"></caption>
            <tr><th th:text="#{treninzi.naziv}"></th><td><input type="text" th:value="${trening.naziv}" name="naziv"/></td></tr>
            <tr><th th:text="#{treninzi.treneri}"></th><td><input type="text" th:value="${trening.treneri}" name="treneri"/></td></tr>
            <tr>
                <th th:text="#{treninzi.tip}"></th>
                <td>
                    <th:block th:each="itTip: ${tipovi}">
                        <input type="checkbox" name="tipId" th:value="${itTip.id}" th:checked="${#lists.contains(trening.tipTreninga, itTip)}"/><span th:text="${itTip.ime}"></span><br>
                    </th:block>
                </td>
            </tr>
            <tr><th th:text="#{treninzi.kratakOpis}"></th><td><input type="text" th:value="${trening.kratakOpis}" name="kratakOpis"/></td></tr>
            <tr><th th:text="#{treninzi.slika}"></th><td><img id="slikaTreninga" th:src="${trening.urlSlika}"></td></tr>
            <tr><th>Upload img:</th><td><input type="file" name="slikaFile"></td></tr>
            <tr><th th:text="#{treninzi.cena}"></th><td><input type="number" th:value="${trening.cena}" name="cena"/></td></tr>
            <tr>
                <th th:text="#{treninzi.vrsta}"></th>
                <td>
                    <select name="vrsta">
                        <option th:each="vrsta : ${T(com.example.Teretana.Model.VrstaTreninga).values()}" th:value="${vrsta}" th:text="${vrsta}" th:selected="${#strings.equals(trening.vrstaTreninga, vrsta)}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th th:text="#{treninzi.nivo}"></th>
                <td>
                    <select name="nivo">
                        <option th:each="nivo : ${T(com.example.Teretana.Model.NivoTreninga).values()}" th:value="${nivo}" th:text="${nivo}" th:selected="${#strings.equals(trening.nivoTreninga, nivo)}"></option>
                    </select>
                </td>
            </tr>
            <tr><th th:text="#{treninzi.trajanje}"></th><td><input type="number" th:value="${trening.trajanje}" name="trajanje"/></td></tr>
            <tr><th th:text="#{treninzi.ocena}"></th><td><input type="number"  th:value="${trening.ocena}" name="ocena"/></td></tr>
            <tr><td colspan="2"><p style="white-space: pre; color: red" th:text="${greska}"></p></td></tr>
            <tr><th></th><td><input type="submit" th:value="#{trening.izmeni}"/></td></tr>
        </table>
    </form>
    <table class="content-table" th:if="${session.prijavljenKorisnik != null and session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).CLAN)}">
        <caption id="registracija" th:text="#{trening.naslov}"></caption>
        <tr><th th:text="#{treninzi.naziv}"></th><td th:text="${trening.naziv}"></td></tr>
        <tr><th th:text="#{treninzi.treneri}"></th><td th:text="${trening.treneri}"></td></tr>
        <tr>
            <th th:text="#{treninzi.tip}"></th>
            <td th:text="${trening.tipTreninga}"></td>
        </tr>
        <tr><th th:text="#{treninzi.kratakOpis}"></th><td th:text="${trening.kratakOpis}"></td></tr>
        <tr><th th:text="#{treninzi.slika}"></th><td><img id="slikaTreninga" th:src="${trening.urlSlika}"></td></tr>
        <tr><th th:text="#{treninzi.cena}"></th><td th:text="${trening.cena}"></td></tr>
        <tr>
            <th th:text="#{treninzi.vrsta}"></th>
            <td th:text="${trening.vrstaTreninga}"></td>
        </tr>
        <tr>
            <th th:text="#{treninzi.nivo}"></th>
            <td th:text="${trening.nivoTreninga}"></td>
        </tr>
        <tr><th th:text="#{treninzi.trajanje}"></th><td th:text="${trening.trajanje}"></td></tr>
        <tr><th th:text="#{treninzi.ocena}"></th><td th:text="${trening.ocena}"></td></tr>
        <tr>
            <td colspan="2">
                <form method="post" action="listaZelja/dodaj">
                    <input type="hidden" name="idTreninga" th:value="${trening.id}"/>
                    <input type="submit" th:value="#{trening.dodajUListuZelja}" />
                </form>
            </td>
        </tr>
        <tr><td colspan="2"><p style="white-space: pre; color: red" th:text="${greska}"></p></td></tr>
    </table>
    <table class="content-table">
        <caption id="registracija" th:text="#{termini.naslov}"></caption>
        <tr>
            <th th:text="#{termini.datumIVreme}"></th>
            <th th:text="#{termini.sala}"></th>
            <th th:text="#{termini.izaberi}"></th>
        </tr>
        <tr th:each="termin, status: ${termini}">
            <td th:text="${termin.datumOdrzavanja.minusHours(1)}"></td>
            <td th:text="${termin.sala.oznaka}"></td>
            <td th:if="${session.prijavljenKorisnik != null and session.prijavljenKorisnik.uloga.equals(T(com.example.Teretana.Model.Uloga).CLAN)}">
                <form method="post" action="termini/korpa">
                    <input type="hidden" name="idTermina" th:value="${termin.id}"/>
                    <input type="hidden" name="idTreninga" th:value="${trening.id}"/>
                    <input type="submit" th:value="#{termini.dodajUKorpu}" />
                </form>
            </td>
        </tr>
    </table>
    <ul>
        <li><a class="a-link" href="treninzi" th:text="#{treninzi.povratak}"></a></li>
    </ul>
</body>
</html>